td,
th{
  padding: .5em;
  width: 500px;
}
table{
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

th{
  border-bottom: 1px solid black;
}

tr:hover{
  background-color: lightgray;
}
#table{
  width: 100%;
}
#thead{  
  overflow: hidden;
}
#tbody{
  height: 75vh;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
}